<form action="/pirates" method="post">
  <input type="text" name="pirate[name]" value="">
  <input type="text" name="pirate[weight]" value="">
  <input type="text" name="pirate[height]" value="">

  <input type="text" name="pirate[ships][][name]" id="ship_name_1">
  <input type="text" name="pirate[ships][][type]" id="ship_type_1">
  <input type="text" name="pirate[ships][][booty]" id="ship_booty_1">

  <input type="text" name="pirate[ships][][name]" id="ship_name_2">
  <input type="text" name="pirate[ships][][type]" id="ship_type_2">
  <input type="text" name="pirate[ships][][booty]" id="ship_booty_2">
  <input type="submit" id="Submit">
</form>
